body {
    font-family: Open Sans;
    text-align: center;
    color: white;
    letter-spacing: .1px;

}

.profile {
    margin: 1rem;
}

.avatar {
    vertical-align: middle;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding: 1rem;
}

.name {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.links {
    display: grid;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.button {
    background-color: black;
    color: white;
    width: 18.75rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 0.5rem;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125rem;
}

.button i {
    margin: 0 .5rem 0 .5rem;
    font-size: 1.25rem;
}

.discord {
    background-color: #5865f2;
    color: white;
}

.github {
    background-color: #000;
    color: white;
}

.email {
    background-color: #0078d4;
    color: white;
}

.instagram {
    background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000)
}

.linkedin {
    background-color: #0077B5;
    color: white;
}

.onlyfans {
    color: #00AFF0;
    background-color: #fff;
}

.steam {
    background-color: #171a21;
    color: white;
}

.twitter {
    background-color: #1DA1F2;
    color: white;
}

.website {
    background-color: #696969;
    color: white;
}

.xing {
    background-color: #126567;
    color: white;
}

.footer {
    margin: 1rem;
}